@import "tailwindcss";

@theme {
   --color-back: #f4f4ef;
   /* --color-main: #356859; */
   --color-accent: #429c8c;
   --radius-main: 20px;

   --font-roboto: "Roboto";

   --shadow-header: 0 4px 8px 0 rgba(0 0 0 0.04);
}

@layer base {
   html,
   body {
      @apply h-full w-full bg-back;
   }
   h1 {
      @apply font-bold lg:text-5xl sm:text-4xl text-3xl md:mb-16 mb-8;
   }
   h2 {
      @apply font-bold md:text-4xl sm:text-3xl text-2xl md:mb-16 mb-8;
   }
   h3 {
      @apply text-3xl font-bold;
   }
   h4 {
      @apply text-2xl font-semibold;
   }
   section {
      @apply md:mb-32 mb-20;
   }
}

@layer utilities {
   .container {
      @apply w-full max-w-[1470px] px-[15px] mx-auto overflow-x-hidden;
   }
   .no-spinner::-webkit-inner-spin-button,
   .no-spinner::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
   }
}
